.features {
  display: flex;
  margin-top: 94px;
  font-size: 14px;
  letter-spacing: 0.42px;
}
.features-list {
  display: flex;
  justify-content: center;
}
.features li:not(:first-child) {
  margin-left: 30px;
}
.features-list-item-div {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: flex;
  margin-bottom: 30px;
}
.features-list-item-svg {
  align-self: center;
  margin-left: 100px;
}
.features-list-title {
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list-explanation {
  color: #757575;
  line-height: 24px;
}
