.header {
  display: flex;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-top: 24px;
}
.span-header {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header-logo {
  color: #000;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
.header-navavigation {
  color: #212121;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.28px;
}
.list-header-nav {
  display: flex;
}
.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 268px;
}
.active {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 4px;
  left: -1px;
  border-radius: 2px;
  background: #2196f3;
  margin-top: 28px;
}
.not-active {
  margin-top: 31px;
}
.header-link {
  color: #212121;
  display: flex;
}
.header-link:hover {
  animation-fill-mode: forwards;
  animation-duration: 250ms;
  animation-name: bounceHover;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}
.contact-list {
  display: flex;
}
.contact-item {
  display: flex;
}
.contact-item:hover a {
  color: #2196f3;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
  animation-name: bounceHover;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}
.contact-item:hover svg {
  fill: #2196f3;
}
.svg-header {
  margin-right: 10px;
}
.contact-link {
  color: #757575;
}

.contact-item:first-child {
  margin-right: 30px;
}
