.products-list {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.products-button {
  color: $primary-color;
  border-radius: 4px;
  background: $products-btn;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  margin: 8px;
  width: 112px;
  height: 38px;
  border: none;
}
.products-button:hover {
  color: $white;
  background: $hover-color;
  cursor: pointer;
  animation-name: forButton;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .products-list {
    flex-wrap: wrap;
    justify-content: normal;
  }
}
@media screen and (min-width: 768px) {
  .products-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
