body {
  font-family: "Roboto";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding: 0 15px;
}
/** header styles **/
.header {
  display: flex;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-top: 24px;
}
.logo-span {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.logo {
  color: #000;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
.navigation {
  color: #212121;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.28px;
}
.navigation-list {
  display: flex;
}
.navigation-list-item {
  margin-right: 50px;
}
.active-li {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 48px;
  height: 4px;
  left: -1px;
  border-radius: 2px;
  background: #2196f3;
  margin-top: 28px;
}
.navigation-list-a {
  color: #212121;
  display: flex;
}
.navigation-list-a:hover {
  animation-fill-mode: forwards;
  animation-duration: 250ms;
  animation-name: bounceHover;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}
.navigation-list-contacts {
  color: #212121;
  margin-right: 268px;
}
.navigation-list-contacts:hover {
  color: #2196f3;
}
.contact-list {
  display: flex;
}
.contact-list-item {
  display: flex;
}
.contact-list-item:hover a {
  color: #2196f3;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
  animation-name: bounceHover;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}
.contact-list-item:hover svg {
  fill: #2196f3;
}
.contact-list-item-svg {
  margin-right: 10px;
}
.contact-list a {
  color: #757575;
}

.contact-list-mail {
  margin-right: 30px;
}
/** animation styles **/
@keyframes forItem {
  0% {
    transform: skewY(0);
  }
  100% {
    transform: skewY(10deg);
    animation-play-state: paused;
  }
}

@keyframes forButton {
  0% {
    transform: translateX(0);
    transform: scale(1);
  }
  100% {
    transform: translateX(5px);
    transform: scale(1.25);
  }
}

@keyframes bounceHover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes changeHeaderScaleHover {
  0% {
    transform: rotateX(0);
    transform: perspective(360deg);
  }
  50% {
    transform: rotateX(90deg);
    transform: perspective(360deg);
  }
  100% {
    transform: rotateX(0);
    transform: perspective(360deg);
  }
}

@keyframes changeScaleHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotateRegularCustomers {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes buttonClose {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes focusModal {
  0% {
    transform: skewX(0);
  }
  50% {
    transform: skewX(30deg);
  }
  100% {
    transform: skewX(0);
  }
}

@keyframes hoverModal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes translate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/** index styles **/
.banner {
  background-image: url(img/hero.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}
.banner-title {
  width: 600px;
  color: #fff;
  font-family: "Roboto";
  text-align: center;
  margin-top: 200px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.banner-button {
  border: none;
  border-radius: 4px;
  margin-bottom: 200px;
  font-weight: 700;
  letter-spacing: 0.96px;
  color: #fff;
  background-color: #2196f3;
  width: 216px;
  height: 50px;
  cursor: pointer;
}
/* ========================================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 15px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%);
  padding-top: 40px;
}

.modal-title {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover svg {
  fill: rgba(33, 150, 243, 1);
}
.modal-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-form-label {
  row-gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  border: none;
}
.modal-form-input {
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.svg-form {
  bottom: 11px;
  left: 12px;
  position: absolute;
}
.textarea-modal-div {
  display: flex;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.textarea-modal {
  width: 416px;
  height: 96px;
  flex-shrink: 0;
  border: none;
  resize: none;
  outline: none;
}
.modal-label-link {
  padding-top: 20px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.4;
  letter-spacing: 0.42px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.modal-link {
  margin-left: 5px;
  color: rgba(33, 150, 243, 1);
  text-decoration: underline;
}
.modal-form-checkbox {
  cursor: pointer;
  margin-top: 8px;
  width: 16px;
  height: 15px;
  line-height: 2.4;
  border: none;
  margin-right: 5px;
}
.send-modal {
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #188ce8;
  cursor: pointer;
}
/* ========================================== */
.features {
  display: flex;
  margin-top: 94px;
  font-size: 14px;
  letter-spacing: 0.42px;
}
.features-list {
  display: flex;
  justify-content: center;
}
.features li:not(:first-child) {
  margin-left: 30px;
}
.features-list-item-div {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  display: flex;
  margin-bottom: 30px;
}
.features-list-item-svg {
  align-self: center;
  margin-left: 100px;
}
.features-list-title {
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list-explanation {
  color: #757575;
  line-height: 24px;
}
.occupation {
  margin-top: 118px;
}
.occupation-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.occupation-list {
  display: flex;
  justify-content: center;
}
.occupation-list-item {
  position: relative;
}
.occupation-list-item:not(:first-child) {
  margin-left: 30px;
}
.occupation-list-item-bg {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
.occupation-list-item-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.team-background {
  height: 648px;
  background: #f5f4fa;
  width: 100%;
}
.team {
  margin-top: 94px;
  padding-top: 94px;
}
.team-list {
  display: flex;
  font-size: 16px;
  letter-spacing: 0.48px;
  justify-content: center;
}
.team-list-item {
  width: 270px;
  height: 428px;
  background: #fff;
  margin-top: 50px;
  margin-right: 25px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 94px;
}
.team-title {
  color: #212121;
  text-align: center;
  margin-right: 453px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-left: 500px;
}
.team-list-member-name {
  margin-top: 30px;
  color: #212121;
  text-align: center;
  font-weight: 500;
}
.team-list-member-work {
  color: #757575;
  text-align: center;
  font-weight: 400;
}
.team-list-member-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  column-gap: 10px;
}
.team-list-member-list-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
}
.team-list-member-list-item:hover {
  fill: #ffffff;
  background-color: #2196f3;
  animation-name: changeHeaderScaleHover;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 250ms;
  background-color: #2196f3;
}
.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 94px;
  padding-top: 94px;
}
.logos-title {
  margin-top: 94px;
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.logos-list {
  column-gap: 30px;
  display: flex;
  justify-content: center;
}
.logos-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.logos-list-item svg {
  fill: #afb1b8;
}
.logos-list-item:hover svg {
  fill: #2196f3;
}
.logos-list-item:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
  cursor: pointer;
  animation-name: changeScaleHover;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/** portfolio styles: **/
.products-list {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 50px;
}
.box {
  position: relative;
  overflow: hidden;
}
.box:hover .overlay {
  transform: translateX(0);
}
.overlay {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
  padding: 64px 23px;
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease;
}
.products-list-item-button {
  color: #212121;
  border-radius: 4px;
  background: #f5f4fa;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  margin: 8px;
  width: 112px;
  height: 38px;
  border: none;
}
.products-list-item-button:hover {
  color: #fff;
  background: #2196f3;
  cursor: pointer;
  animation-name: forButton;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.selling-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.selling-img {
  width: 370px;
  height: 294px;
}
.selling-list-item {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  margin-right: 30px;
  margin-bottom: 30px;
}
.selling-list-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.selling-list-item:nth-child(-n + 3) {
  margin-top: 50px;
}
.selling-list-item:nth-child(3n) {
  margin-right: 0px;
}
.selling-list-item:nth-child(n + 8) {
  margin-bottom: 94px;
}
.selling-product {
  margin-top: 20px;
  margin-left: 24px;
  flex-shrink: 0;
  color: #212121;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}
.selling-product-type {
  margin-left: 24px;
  color: #757575;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 30px;
  letter-spacing: 0.48px;
}
/** footer styles **/
.footer {
  height: 252px;
  background-color: #2f303a;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer-container {
  display: flex;
  padding-top: 60px;
}
.footer-div {
  margin-right: 70px;
}
.footer-logo-span {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer-logo {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer-list {
  width: 231px;
  height: 81px;
  margin-top: 20px;
  margin-bottom: 60px;
  column-gap: 10px;
}
.footer-address {
  margin-bottom: 9px;
  color: #ffffff;
  font-family: "Roboto";
}
.footer-email {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: "Roboto";
}
.socials {
  width: 206px;
  height: 80px;
}
.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.socials-title {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.socials-list-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-list-item:hover {
  cursor: pointer;
  background-color: #2196f3;
  animation-name: changeScaleHover;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list-item-svg {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 1);
}
.footer-form-div {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.footer-form-title {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form {
  display: flex;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.footer-form-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-left: 12px;
}
.footer-form-button-span {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-right: 10px;
  margin-bottom: 10px;
}
