*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding: 0 15px;
}
body {
  font-family: "Roboto";
}
